.col-xs-12{
	text-align: center;
}
.verticalCenter{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */
  	display: flex;
  	align-items: center;
}
h1{
	color: white;
	font-size: 102px;
}
p{
	color: white;
	margin: 0;
}
body{
	background-color: black;
}
.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}

i{
	color: white;
	font-size: 550%;
}
.wi-day-sunny{
	color: #fed039;
}

.weatherDescription{
	padding-top: 20%;
}

.allWeather{
	margin: 5% 0%;
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
}
.dayOfWeek{
	display: inline;
	margin-right: 2%;
}
#unselected{
	color: grey;
}
#selected{
	color: #FFFFFF;
}