.verticalCenter{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */
  	display: flex;
		align-items: center;
		text-align: center;
}
.container {
	width: 80%;
	margin: auto;
	text-align: center;
}
h1{
	color: white;
	font-size: 102px;
	margin: 1%
}
p{
	color: white;
	margin: 0;
}
body{
	background-color: black;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
i{
	color: white;
	font-size: 550%;
}
a{
	color:white;
}
.wi-day-sunny{
	color: #fed039;
}
.wi-night-clear {
  color: #FAD976
}
.weatherDescription{
	padding-top: 20%;
}

.allWeather{
	margin: auto;
	text-align: center;
	display: flex;
	align-items: center;
	height: 20%
}
.weatherPerDay{
	width: 20%
}
.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
}
.dayOfWeek{
	display: inline;
	margin-right: 2%;
}
.glyphicon-trash{
	color: red;
}
#unselected{
	color: grey;
}
#selected{
	color: #FFFFFF;
}
#displayBlock{
	display: block;
}
#setAlarm{
	color:white;
}
#dayAndLoc{
	font-size: 120%;
}
#alarms{
	display: flex;
}
#alarmTime{
	color: white;
}
#alarmDay{
	color: white;
}
#alarmManagerPrompt{
	color:white;
}
#alarm {
	margin: 0 1%;
}
#settings{
	color: white;
}