.col-xs-12{
	text-align: center;
}
.verticalCenter{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */
  	display: flex;
  	align-items: center;
}
h1{
	color: white;
	font-size: 102px;
}
p{
	color: white;
}
body{
	background-color: black;
}
.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 1050!important;
}