.alarmManagePrompt {
  color: white;
}

.setAlarm {
  color: white;
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline;
}
