.alarms {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1% 0;
}

.alarm {
  margin: 0 2%;
}

.alarmTime {
  color: white;
  margin: 0;
  font-size: 150%;
}

.arrow {
  font-size: 150%;
  color: white;
  cursor: pointer;
}

.alarmDay {
  color: white;
}

.cancelAlarm {
  color: red;
  font-size: 150%;
  cursor: pointer;
}
